body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

h1 {
text-align: center;
}

table {
margin-bottom: 20px;
}

td {
    border: 2px solid black;
    width: 125px;
    height: 125px;
    cursor: pointer;
}

td:hover {
    background: aliceblue;
}

.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marked {
    background: bisque;
}

.marked:hover {
    background: burlywood;
}

button {
cursor: pointer;
font-weight: 700;
font-size: 2rem;
padding: 1rem 0;
}
.game-container {
width: fit-content;
display: flex;
flex-direction: column;
margin: 0 auto;

}

.oak-sprite {
    height: 60px;
}

.seed-label {
    font-size: small;
}

.pokeball {
    display: none;
}


.masterball {
    display: none;
}

.marked .pokeball {
    display: block;
}

.marked.bingo .pokeball {
    display: none;
}

.marked.bingo .masterball {
    display: block;
}

.marked .pokemon-sprite {
    display: none;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 1.4rem;
        padding-top: 5rem;
    }
}