body {
font-family: Verdana, Helvetica, Arial, sans-serif;
}

td {
border: 2px solid black;
width: 125px;
height: 125px;
cursor: pointer;
}

td:hover {
background: aliceblue;
}

.cell {
display: flex;
flex-direction: column;
align-items: center;
}

.marked {
background: bisque;
}

.marked:hover {
background: burlywood;
}

button {
cursor: pointer;
height: 40px;
margin-top: 10px;
font-weight: 700;
font-size: large;
}

.game-container {
width: fit-content;
display: flex;
flex-direction: column;
}

.oak-sprite {
height: 60px;
}