body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

.settings-section {
  display: flex;
  justify-content: space-between;
}

.settings-section label {
  font-weight: 700;
  font-size: 1.2rem;
}

.settings-section select {
  width: 2rem;
}

header button {
  padding: 1rem;
}

header button:active {
  transform: scale(.98);
}

h1 {
  text-align: center;
}

table {
  margin-bottom: 15px;
}

td {
  border: 2px solid black;
  width: 125px;
  height: 125px;
  cursor: pointer;
}

td:hover {
  background: aliceblue;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.marked {
  background: bisque;
}

.marked:hover {
  background: burlywood;
}

button {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid black;
}

.game-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.oak-sprite {
  height: 60px;
}

.seed-label {
  font-size: small;
}

.pokeball {
  display: none;
}

.masterball {
  display: none;
}

.marked .pokeball {
  display: block;
}

.marked.bingo .pokeball {
  display: none;
}

.marked.bingo .masterball {
  display: block;
}

.marked .pokemon-sprite {
  display: none;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  td {
    width: 162px;
  }

  body {
    font-size: 1.4rem;
    padding-top: 5rem;
  }

  span {
    font-size: 1.6rem;
    padding: 0 9px;
  }

  button {
    font-size: 2rem;
    padding: 1rem .5rem;
  }

  .settings-section label {
    font-size: 2rem;
  }

  .settings-section select {
    width: 4rem;
    font-size: 2rem;
  }

  .pokemon-sprite {
    /*width: strech;*/
    width: -webkit-fill-available;
    width: -moz-fill-available;
    max-width: 150px;
  }

  .oak-sprite {
    height: 90px;
  }

  .pokeball,
  .masterball {
    height: 60px;
  }
}
