body.dark-mode {
    background-color: #181a1b;
    color: #e8e6e3;
}

body.dark-mode td:hover {
    background-color: rgb(28, 31, 32);
}

body.dark-mode .marked {
    background-color: rgb(86, 47, 0);
}

body.dark-mode button, body.dark-mode td {
    border-color: rgb(140, 130, 115)
}

body.dark-mode button {
    background-color: #181a1b;
    color: #e8e6e3;
}